img{
    height: 400px;
    display: block;
    margin: 10px;
}

body{
    background-color:gainsboro;
    background-color:rgb(12, 222, 250);
}
.container{
    margin:auto;
    width:60%;
    height:800px;
    border-radius:20px;
    box-shadow:1px 1px 1px black;
    background-color:bisque;
    margin-top:100px;
    text-align:center;
    color:black;
    font-family: 'Rubik Burned', cursive;
    background-color:rgb(61, 153, 214);
}

.description{
    background-color: white;
    margin: 100px;
}

